asgiref==3.8.1
black==23.7.0
certifi==2023.5.7
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.4
colorama==0.4.6
crispy-bootstrap5==0.7
distlib==0.3.8
dj-database-url==2.2.0
dj-email-url==1.0.6
dj-search-url==0.1
Django==5.1.2
django-cache-url==3.4.5
django-configurations==2.5.1
django-crispy-forms==2.0
djangorestframework==3.14.0
filelock==3.14.0
identify==2.5.36
idna==3.4
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
platformdirs==4.2.2
pre-commit==3.7.1
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.26.2
