.blurr:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    z-index: 0;
}

.unblurr {
    z-index: 1;
    position: relative;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(../img/nightsky.jpg);
    background-position: 0px -30px;
    background-size: contain;
    background-repeat:round;
    color: #ffffff;
    margin-top: 5rem;
    font-family: "Montserrat", sans-serif;
}

.center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

ul {
    margin: 0;
}

.bg-purple {
    color: #ffffff;
}

.bg-purple:hover {
    color: #00fb32;
}

.text-muted {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
    color: #c90ade;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.question {
    width: 1000px;
    height: 129px;
    background-image: url(../img/qn2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    background: transparent;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.small-bttn {
    width: 70px;
    height: 50px;
    padding-right: 5px;
    display: inline-block;
    position: relative;
    background: transparent;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
}

.bttn {
    width: 225px;
    height: 56px;
    display: inline-block;
    position: relative;
    background: transparent;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
}

.big-bttn {
    width: 450px;
    height: 56px;
    display: inline-block;
    position: relative;
    background: transparent;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
}

.lifeline-responsive {
    max-width: 40px;
    max-height: 40px;
    padding-right: 5px;
}

.options {
    width: 550px;
    height: 77px;
    background-image: url(../img/options.png);
    background-size: auto;
    background-repeat: no-repeat;
}


.content-section-split {
    width: calc(50% - 10px);
    /* Adjust the margin value (10px) as needed */
    padding: 10px;
}

.img-responsive {
    max-width: 50px;
    max-height: 50px;
    padding-right: 5px;
}

.brand {
    height: 35px;
}

#user-link {
    color: #ffffff;
    text-decoration: none;
}

#user-link:hover {
    color: #00eeffb4;
}

#badge-link {
    color: #ffffff;
    text-decoration: none;
}

#badge-link:hover {
    color: #000000;
}


.transparent-div {
    background-color: transparent;
}

.logo-div {
    vertical-align: bottom;
    display: table-cell;
}

.footer-nav-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-nav-link:hover {
    color: #00d9ff;
}

footer {
    /* Add box-sizing */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    margin-top: 50px;
    padding-bottom: 25px;
    text-align: center;
    padding: 20px;
    height: 200px;
    min-width: 1000px;
    width: 100%;
    position: relative;
    bottom: 0;
}