@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.grid-square {
    width: 10px;
    height: 10px;
    margin: 7px;
    transition: opacity 1s ease-in-out;
}

.blur-bg {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-gradient {
    background-image: linear-gradient(135deg, #e857ed 0%, #218ab8 50%, #00f1b5 100%);
    /* background-image:
        linear-gradient(
            145deg,
            rgba(232, 87, 237, 0.15) 0%,
            rgba(109, 137, 69, 0.15) 100%
        ),
        linear-gradient(
            75deg,
            rgb(33, 138, 184),
            rgb(0, 241, 181)
        ); */
}
