{% extends 'base.html' %}
{% load static %}
{% load utility %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bannerCorrectQ.css' %}" />
{% endblock header %}
{% block content %}
<div class="row gy-10">
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
</div>
<div class="row">
    <div class="col-md-1 offset-2"></div>
    <!-- Wide Button -->
    <div class="col-md-6">
        <a href="#" class="hpd hpd-wide">
            &nbsp;
            <div class="hpd-body">
                <h3 class="hpd-title"><b>You answered it right!</b></h3>
                <p class="hpd-desc">You just earned $<u style="color: blueviolet;">1,000</u> to make your total earnings
                    $<u style="color: blueviolet;">{{score}}</u>!</p>
            </div>
            &nbsp;
        </a>
    </div>
    <div class="col-md-1 offset-2"></div>
</div>
<div class="row gy-10">
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
</div>
<div class="row gy-10">
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-2"></div>
    <div class="col-md-3">
        <div class="col text-sm">Do you want to <span style="color: #00ff0d;">proceed</span>
            to the next question?</div>
    </div>
    <div class="col-md-2">
        <div class="small-bttn align-items-end">
            <button type="submit" class="btn btn-danger" title="Exit with collected money" name="nextQ"
                value="no">Exit</button>
        </div>
        <div class="small-bttn align-items-end">
            <button type="submit" class="btn btn-success" title="Move on to the next question!"
                name="nextQ" value="yes">Proceed</button>
        </div>
    </div>
</div>
<div class="row gy-10">
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-1 offset-3"></div>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-1 offset-3"></div>
</div>
{% endblock %}