{% load static %}
<footer class="page-footer text-center text-lg-start blurr"
    style="padding-left: 25px; padding-top: 25px; padding-right: -150px;">
    <div class="unblurr">
        <div class="row unblurr">
            <div class="col-lg-4 col-md-6 logo-div unblurr"
                style="padding-top: 65px; padding-bottom: 30px; padding-right: 100px; text-align: bottom;">
                <span>
                    <img class="img-responsive brand" src="{% static 'img/wwbmicon.ico' %}" />
                    <a class="navbar-brand mr-4 bg-steel" href="#"><b>Who Wants to be a Millionaire?</b></a>
                    <h5 class="h1 text-white"></h5>
                    <a class="footer-nav-link" href="#">blogsterr.com</a>
                </span>
            </div>
            <div class="col-lg-2 col-md-6"></div>
            <div class="col-lg-2 col-md-6 unblurr" style="padding-top: 30px;">
                <h5 class="text-white mb-3"><b>Quick Links</b></h5>
                <ul class="list-unstyled">
                    <li><a class="footer-nav-link" href="#">Home</a></li>
                    <a class="nav-item nav-link" href="#">Leaderboard</a>
                    <li><a class="footer-nav-link" href="#">Scores</a></li>
                    <li><a class="footer-nav-link" href="#">About</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 unblurr"
                style="padding-top: 65px; padding-right: 0px; padding-left: 230px; text-align: bottom; bottom: 0; overflow-x: hidden;">
                <h5 class="text-white mb-3"><strong>CONTACT US!</strong></h5>
                <a class="footer-nav-link" href="#">Click here to contact us!</a>
            </div>
        </div>
    </div>
</footer>