{% extends 'base.html' %}
{% load static tailwind_tags %}
{% load utility %}
{% block header %}
{% include 'navbar.html' %}
{% if mode == "finished" %}
<script defer src="{% static 'js/confetti.js' %}"></script>
{% endif %}
{% endblock header %}
{% block content %}
{% if mode == "finished" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/confetti.css' %}" />
<div class="main-confetti fixed inset-0 pointer-events-none overflow-hidden"></div>
<svg class="hidden">
    <defs>
        <symbol id="svg-confetti">
            <path fill="currentColor" d="M-.017 6.91L4.035.012l2.587 1.52L2.57 8.43z"></path>
        </symbol>
    </defs>
</svg>
{% endif %}
<div
    class='
    {% if mode == "over" or mode == "wrong" %}bg-[#ff7792]{% else %}bg-[#38fa5f]{% endif %}
    rounded-lg shadow-lg max-w-2xl w-full p-6 mb-4'
>
    <h1 class="text-4xl text-black mb-4 text-center">
        {{ mainMessage|safe }}
    </h1>
    <p class="text-xl text-black text-center">
        {{ message|safe }}
    </p>
</div>
<div class="blur-bg rounded-lg py-1 pl-1 mb-3">
    <div class="text-center relative">
        Return to:
        <a href="{% url 'leaderboard' %}" class="mx-2 hover:text-blue-400">Leaderboard</a> |
        <a href="{% url 'mainpage' %}" class="mx-2 hover:text-blue-400">Main Page</a>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
