{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'navbar.html' %}
{% endblock header %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="text-3xl sm:text-4xl text-center p-1 md:p-4 rounded-lg blur-bg inline-block">
        Click
        <button
            type="submit"
            name="startPlay"
            value="yes"
            role="button"
            class="text-emerald-500 hover:text-emerald-600 bg-transparent font-bold rounded-lg"
        >
            here
        </button>
        to play
        <span class="font-bold logo-gradient inline-block text-transparent bg-clip-text">
            Trivivo
        </span>.
    </div>
</form>
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
