{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'navbar.html' %}
{% endblock header %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="content">
        <div class="content blurr" id="wrapper">
            <div class="elementToFadeInAndOut unblurr">
                <span style="font-family: 'Open Sans', sans-serif; font-size: 40px;">
                    <p class="text-center">Want to PLAY</p>
                    <p><b>Who Wants to become a Millionaire?</b></p>
                </span>
                <button type="submit" name="startPlay" value="yes" class="button-64" role="button"
                    style="margin-left: 36%;"><span class="text">PLAY</span></button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}