{% load static tailwind_tags %}
<header class="p-4 flex justify-between items-center relative z-10 blur-bg">
    <div class="flex items-center">
        <img src="{% static 'img/wwbmicon.ico' %}" alt="Logo" class="w-10 h-10 mr-2">
        <span class="text-xl font-bold logo-gradient inline-block text-transparent bg-clip-text">Trivivo</span>
    </div>
    <div>
        {% if user.is_authenticated %}
        <span class="text-sm mr-4 hover:text-emerald-400">{{ request.user.username }}</span>
        <a class="text-sm hover:text-blue-400" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="text-sm mr-4 hover:text-blue-400">Login</a>
        <a href="{% url 'register' %}" class="text-sm hover:text-blue-400">Register</a>
        {% endif %}
    </div>
</header>
