{% load static %}
<header class="site-header">
    <nav class="navbar navbar-expand-md fixed-top blurr">
        <div class="container-fluid unblurr">
            <img class="img-responsive brand" src="{% static 'img/wwbmicon.ico' %}" />
            <a class="navbar-brand mr-4 bg-purple" href="{% url 'mainpage' %}"><b style="font-size: medium;">Who
                    Wants to be a Millionaire?</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'mainpage' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                    <a class="nav-item nav-link" href="{% url 'scores' %}">Scores</a>
                    <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <u><i><small class="nav-item nav-link">{{ request.user.username }}</small></i></u>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
