{% extends 'base.html' %}
{% load static %}
{% load utility %}
{% block content %}
<iframe src="{% static 'audio/introduction.mp3' %}" allow="autoplay" id="audio" style="display:none"></iframe>
<form method="post" id="newform">
    {% csrf_token %}
    <div class="content blurr">
        <div class="content unblurr">
            <div class="row d-flex" style="font-family: 'Open Sans', sans-serif; font-size: 35px;">
                <b>
                    <h1>RULES</h1>
                </b>
            </div>
            <br style="clear: both" />
            <br style="clear: both" />
            {% include 'gamerules.html' %}
            <br style="clear: both" />
            <br style="clear: both" />
            <div class="row d-flex">
                <div class="col text-sm-end">You have read the rules and are liable to them. <br>
                    Are you ready to <span style="color: #00ff0d;">PLAY</span>?</div>
                <div class="small-bttn align-items-center">
                    <button type="submit" class="btn btn-danger" title="I am not ready to play" name="agreed"
                        value="no">No</button>
                </div>
                <div class="small-bttn align-items-center">
                    <button type="submit" class="btn btn-success" title="Let's play Who Wants to Be a Millionaire?"
                        name="agreed" value="yes">Yes</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
